<sly-field title="Select grouping tag" description="All imported images will be grouped by selected tag">
    <el-tabs type="border-card" class="el-tabs-cards" v-model="state.tagMode">
        <el-tab-pane name="prepared">
            <el-radio slot="label" v-model="state.tagMode" label="prepared">
                Prepared tag
            </el-radio>
            <sly-field title="Select one of the prepared tags"
                       description="if you did not find the tag you need, enter its name manually in 'Manual input'  tab">
            </sly-field>
            <el-select v-model="state.groupTag" placeholder="Select">
                <el-option key="StudyInstanceUID" label="Study Instance UID" value="StudyInstanceUID"></el-option>
                <el-option key="SeriesInstanceUID" label="Series Instance UID" value="SeriesInstanceUID"></el-option>
            </el-select>
        </el-tab-pane>
        <el-tab-pane name="manual">
            <el-radio slot="label" v-model="state.tagMode" label="manual">
                Manual input
            </el-radio>
            <sly-field title="Input name of grouping tag"
                       description="Name of the tag must match dicom metadata field name">
                <el-input v-model="state.customGroupTag"
                          placeholder="Name of the grouping tag e.g. Manufacturer"></el-input>
            </sly-field>
        </el-tab-pane>
    </el-tabs>

    <pre>
        {{ JSON.stringify(state, undefined, 2) }}
    </pre>

    <sly-card title="" class="mt10">
        <el-checkbox v-model="state.addTagsFromDcm">Add tags from dicom metadata</el-checkbox>
        <div v-if="state.addTagsFromDcm">
            <sly-copy-to-clipboard>
                <sly-editor v-model="state.dcmTags"
                            :options="{mode: 'ace/mode/json', showGutter: false, readOnly: false, maxLines: 100, highlightActiveLine: true}">
                </sly-editor>
            </sly-copy-to-clipboard>
        </div>
    </sly-card>
</sly-field>