<sly-field
  title="Select grouping tag"
  description="All imported images will be grouped by selected tag"
>
  <el-tabs type="border-card" class="el-tabs-cards" v-model="state.tagMode">
    <el-tab-pane name="prepared">
      <el-radio slot="label" v-model="state.tagMode" label="prepared">
        Predefined
      </el-radio>
      <sly-field title="Select predefined DICOM metadata key" description="">
      </sly-field>
      <el-select v-model="state.predefinedGroupTag" placeholder="Select">
        <el-option
          key="StudyInstanceUID"
          label="StudyInstanceUID"
          value="StudyInstanceUID"
        ></el-option>
        <el-option
          key="SeriesInstanceUID"
          label="SeriesInstanceUID"
          value="SeriesInstanceUID"
        ></el-option>
      </el-select>
    </el-tab-pane>
    <el-tab-pane name="manual">
      <el-radio slot="label" v-model="state.tagMode" label="manual">
        Manual
      </el-radio>
      <sly-field title="Input name of DICOM metadata key" description="">
        <el-input
          v-model="state.manualGroupTag"
          placeholder="Name of the grouping tag e.g. Manufacturer"
        ></el-input>
      </sly-field>
    </el-tab-pane>
  </el-tabs>

  <!--    <pre>-->
  <!--        {{ JSON.stringify(state, undefined, 2) }}-->
  <!--    </pre>-->

  <sly-card title="" class="mt10">
    <sly-field
      title="Add annotations in Supervisely format"
      description="Specify whether to add annotations to images or not"
    >
        <div>
            <el-checkbox v-model="state.withAnns"
                >Add annotations (supervisely format)</el-checkbox
            >
        </div>
    </sly-field>
    <sly-field
      title="Add tags from DICOM metadata"
      description="Determine whether to add all, only specified or no tags from DICOM file metadata"
    >
      <el-select v-model="state.addTagsFromDcm">
        <el-option key="add all tags" value="add all tags" />
        <el-option
          key="add only specified tags"
          value="add only specified tags"
        />
        <el-option key="do not add tags" value="do not add tags" />
      </el-select>
      <div
        v-if="state.addTagsFromDcm === 'add only specified tags'"
        class="mt10"
      >
        <sly-copy-to-clipboard>
          <sly-editor
            v-model="state.dcmTags"
            :options="{mode: 'ace/mode/json', showGutter: false, readOnly: false, maxLines: 100, highlightActiveLine: true}"
          >
          </sly-editor>
        </sly-copy-to-clipboard>
      </div>
    </sly-field>
  </sly-card>
</sly-field>
